#footer-container {
	max-width: 100%;
	width: 100%;
	display:none;
	margin: 0 auto;
	//border-top: 1px solid #ccc;
	//margin-top: rem-calc(60);

	#footer {
		//@include grid-row();
		//padding: rem-calc(30) 0;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
	}
}

.newsletter-container{
	padding-top:50px;
	padding-bottom:50px;
}

.footer-infos{
	padding-top:50px;
	padding-bottom: 50px;
}

.copyright{
	padding-top:10px;
	padding-bottom:10px;
	text-align: center;
	background:black;
	color:white;
}
