.element{
	padding:10px;
	margin-top:15px;
  border:1px solid #DDD;
  transition:background 0.5s;

    &:hover{
        background-color:#f9f9f9;
    }
}

.element:nth-child(5){
	margin-bottom:15px;
}

#colonne{
    columns:1;
}

#page-social{
	height:90px;
	background:#FFF;
	width:1200px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;

	.centered{
		text-align:center;

		.margin{
			margin-top:10px;
			margin-bottom:5px;
		}

		#reseaux{

			img{
				width:40px;
				height:auto;
			}

			li{
				list-style-type: none;
				display: inline-block;
				margin-right:30px;
			}
		}
	}
}
