.archives-astuces{
    border:1px solid lighten(#CCC, 10%);
    height:100%;
    padding:20px;
    margin-bottom:20px;
}

.focus{
    margin-bottom:50px;
    .focus-in{
        height:200px;
        width:100%;
        border:1px solid #CCC;
    }
}
